NYPL_DATA_API_URL=XXX
OAUTH_PROVIDER_URL=XXX
OAUTH_PROVIDER_SCOPE=XXX
OAUTH_CLIENT_ID=XXX
OAUTH_CLIENT_SECRET=XXX
HOLD_REQUEST_SCHEMA_NAME=XXX
HOLD_REQUEST_RESULT_STREAM_NAME=XXX
HOLD_REQUEST_RESULT_SCHEMA_NAME=XXX
SCSB_API_BASE_URL=XXX
SCSB_API_KEY=XXX
NODE_ENV=XXX // Use 'development' when developing locally via `npm run local-run`. If deploying to AWS use 'production', this will trigger the decryption client.
